<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Thoughts and jottings from the content strategist, writer, and developer James Quilter.</p>
  </div>
  <div class="p-3">
    <h4 class="font-italic">Social Platforms</h4>
    <ol class="list-unstyled social-icons">
      <li><a href="https://github.com/jimboqu"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/james_quilter"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</aside>