<section class="jumbotron text-center">
	<div class="container">
		  <h1 class="jumbotron-heading">Examples</h1>
		  <p class="lead text-muted">These are projects I've been working on, a combination of development and content.</p>
		  <p>
		    <a href="<%= about_path %>" class="btn btn-primary my-2">Find out more</a>
		    <a href="<%= blogs_path %>" class="btn btn-info my-2">My blog</a>
		  </p>
    </div>
</section>