
<main role="main" class="inner cover text-center">
    
    <div class="card">

	    <div class="card-body"> 
			<h1>About me</h1>
	    	<p>I have written and edited for numerous marketing and energy magazines, and written for companies as diverse as Twitter and EDF. On top of this I am a pretty decent hand at Ruby (Rails) and Javascript (React, Angular).  </p>
	    </div>
	</div>
	<br>
    <p class="lead">
    	<%= link_to "The Blackboard", blogs_path, class: "btn btn-lg btn-secondary"   %>
  	</p>
</main>
