
<main role="main" class="inner cover text-center">
    
    <div class="card">

	    <div class="card-body"> 
			<h1>About me</h1>
	    	<p>I have written for numerous marketing and energy magazines. I can code in Ruby. I am old enough to remember Adam and the Ants. </p>
	    </div>
	</div>
	<br>
    <p class="lead">
    	<%= link_to "My blog", blogs_path, class: "btn btn-lg btn-secondary"   %>
  	</p>
</main>
