<main role="main" class="inner cover text-center">
	<div class="card">
		<div class="card-body">
			<h1 class="cover-heading">Get in touch</h1>
			<p>This is the place to go to if you want great cycling outside of London. This is the place to go to if you want great cycling outside of London</p>
			<h2>Follow me on:</h2>
			<p>Twitter</p>
			<p>Strava</p>
			<p>LinkedIn</p>
		</div>
	</div>	
</main>


