<main role="main" class="inner cover text-center">
	<div class="card">
		<div class="card-body">
			<h1 class="cover-heading">Get in touch</h1>
			<p>If you interested in reading about my thoughts on content marketing, digital marketing, and energy, then feel free to engage via the social media links below. Or, better still, use them to get in touch.</p>
			<h4>Follow me on:</h4>
			<p class="social-icons"><a href="https://github.com/jimboqu"><%= fa_icon "github" %></a> <a href="https://twitter.com/james_quilter"><%= fa_icon "twitter" %></a> <a href="https://www.linkedin.com/in/jamesquilter/"><%= fa_icon "linkedin" %></a></p>
		    
	</div>	
</main>


