<div class="col-md-4">
	<div class="card mb-4 box-shadow">
		<%= image_tag folio_item.thumb_image, alt: "alttext", class:"card-img-top" %>
		<div class="card-body">
			<%= link_to folio_item.title, folio_path(folio_item), class: "card-text" %> <%= folio_item.subtitle %>
				
			
			
					
		</div>
	</div>
</div>